@CHARSET "UTF-8";

body {
	background-color: black;
	color: #BBBBBB;
	font-family: Courier;
	font-weight: bold;
}

a:LINK {
	color: #55FFFF;
}

a:VISITED {
	color: #00BBBB;
}

.root{
	width: 650px;
	margin-left: 100px;
}

.emphasis {
	background-color: #0000BB;
	display: inline-block;
	padding: 3px;
}